name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: AWS

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Debug host
        run: |
          echo "HOST=${{ secrets.EC2_HOST }}"
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            git config --global --add safe.directory /home/ubuntu/Interactive-Fitness-Wellness-Web-App
            cd /home/ubuntu/Interactive-Fitness-Wellness-Web-App
            git pull
            
